{% extends 'base.html.twig' %}

{% block body %}
	<section class="section">
		<div class="columns is-vcentered">
			<div class="column is-10">
				<h1 class="title">Lista de Produtos</h1>
			</div>
			<div class="column">
				<a href="{{ path('product_create') }}" class="button is-link">
					<i class="fas fa-plus"></i> &nbsp;Adicionar</a>
			</div>
		</div>

		<nav class="breadcrumb is-right" aria-label="breadcrumbs">

			<ul class="breadcrumb float-right">
				<li>
					<a href="{{ path('welcome') }}">
						<span class="icon is-small">
          					<i class="fas fa-home" aria-hidden="true"></i>
        				</span>
						<span>Home</span>
					</a>
				</li>
				<li class="is-active">
					<a href="{{ path('product_index') }}">
						<span class="icon is-small">
          					<i class="fas fa-th" aria-hidden="true"></i>
        				</span>
						<span>Produtos</span>
					</a>
				</li>
			</ul>

		</nav>
		
		<hr>
		
		<table class="table is-striped is-narrow is-hoverable is-fullwidth">
			<thead>
				<tr>
					<th>id</th>
					<th>Titulo</th>
					<th>Preço</th>
					<th>Descrição</th>
					<th>Estoque</th>
					<th>Ações</th>
				</tr>
			</thead>

			<tbody>
				{% for product in product %}
					<tr>
						<td>
							{{ product.id }}
						</td>
						<td>
							{{ product.title }}
						</td>
						<td>
							{{ product.price }}
						</td>
						<td>
							{{ product.description }}
						</td>
						<td>
							{{ product.stock }}
						</td>

						<td class="buttons are-small">
							<a href="{{ path('product_edit', {'id':product.id}) }}" class="button is-primary is-rounded">Editar</a>
							<a href="{{ path('product_remove', {'id':product.id}) }}" class="button is-danger is-rounded">Remover</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
{% block title %}
	Lita de Produtos
{% endblock %}
